.hero-newsletter-container .hero-newsletter-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-newsletter {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-newsletter h1,
.hero-newsletter h2,
.hero-newsletter h3,
.hero-newsletter h4,
.hero-newsletter h5,
.hero-newsletter h6,
.hero-newsletter p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-newsletter.no-image * {
  color: var(--text-color);
}

.hero-newsletter picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-newsletter img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-newsletter {
    padding: 40px 32px;
  }
}
